/* Estilo general del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Encabezado h1 */
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Estilo de la sección de creación */
.create-section {
    text-align: right;
    margin: 20px;
	text-align: center;
}

/* Estilo del botón de creación */
.btn-create {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

/* Estilo de las celdas del encabezado de la tabla */
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Alternar colores de filas en la tabla */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo de las celdas de datos */
td {
    padding: 10px;
}

/* Estilo del botón de eliminar */
.btn-delete {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos de los colores de las columnas */
.rol {
    background-color: #f6d55b;
}

.nombre {
    background-color: #fdb462;
}

.correo {
    background-color: #e66101;
}

.accion {
    background-color: #5e3c99;
}

